html, body {height: 100%!important; background-color: #222222;}

body {width: 100%!important; margin: 0 auto!important; font-family: Helvetica, Arial, sans-serif!important;
      font-size: 12px!important; color: #555643!important; line-height:12px!important;}

h1 {font-size: 18px; font-weight: lighter; font-family: Helvetica, sans-serif; color: #000000; 
    line-height: 19px; margin: 0; padding: 0;}

#main, #header, #banner, #menubar, #site_content, #footer, #content_bottom
{ margin-left: auto; 
  margin-right: auto;}

#main
{ background: transparent;}
  
#header
{ width: 960px;
  height: 120px;
  background: transparent;
  float: left;}

#banner
{ width: 960px;
  position: relative;
  height: 50px;
  padding: 15px 0 0 0;
  background: transparent;}

#welcome
{ width: 960px;
  float: left;
  height: 50px;
  margin: 0 auto;
  padding-left: 20px;
  background: transparent;} 
  
#welcome_slogan
{ width: 960px;
  float: left;
  height: 50px;
  margin: 0 auto;
  padding-left: 20px;
  background: transparent;
  }   
   
#welcome H1
{ font: normal 300% Arial, Helvetica, sans-serif;
  letter-spacing: -3px;
  color: #AAA;
  text-shadow: 1px 1px #3D3D3D;}

#welcome_slogan H2
{ font: normal 200% Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
  color: #000;
  text-shadow: 1px 1px #1D1D1D;}  
