html
{ height: 100%;}

*
{ margin: 5;
  padding: 5;}
.affix 
{ top: 0;
  width: 100%;
  z-index: 9999 !important;}

.affix + .container-fluid 
{  padding-top: 70px;}

#navbar
{ border: 1px solid blue;}

div.col-xs-2 
{ text-align: center;
  border: 1px solid blue;
  background-color: lightblue;}

#title
{ text-align: center:}

#logo
{ margin: 0 auto}

#title
{ background-image: url("https://dl.dropboxusercontent.com/s/plvzimx1vhtjl6b/lights1cropped.jpg?dl=0");
  background-size: 100% 100%;}

#top h1
{ color: #50ff00;}

#top h2
{ color: #0086ff;}

#top p
{ color: #ffff00;
  font-size: 150%;}

#Mike
{ background-color: #BBBBBB;}

#Ricky
{ background-color: #CCCCCC;
  text-align: right;}
